<h2
  class="text-3xl md:text-2xl font-semibold text-center mt-12 md:mt-16 animate-wavy"
>
  Featured Projects
</h2>
<div
  class="flex flex-col md:flex-row h-auto md:h-[70vh] overflow-hidden gap-4 md:gap-[60px] min-h-[100vh] md:min-h-[80vh]"
>
  <div
    *ngFor="let image of images; let i = index"
    class="flex-1 bg-cover bg-center transition-all duration-700 ease-[cubic-bezier(.19,1,.22,1)] h-48 md:min-h-[40vh] lg:h-[50vh] mt-4 md:mt-[50px] mb-4 md:mb-[40px] rounded-xl cursor-open relative"
    [ngClass]="{
      'flex-[4]': activeIndex === i && !isSmallScreen,
      'flex-[2]': activeIndex !== i && !isSmallScreen,
      'opacity-70': activeIndex !== i && !isSmallScreen
    }"
    (mouseenter)="!isSmallScreen && setActiveIndex(i)"
    [style.background-image]="'url(' + image + ')'"
  >
    <div
      *ngIf="activeIndex === i && !isSmallScreen"
      class="absolute -bottom-10 left-0 right-0 p-2 text-gray-800 text-xl underline"
    >
      {{ imageTexts[i] }}
    </div>
    <div
      *ngIf="isSmallScreen"
      class="absolute bottom-0 left-0 right-0 p-2 text-white text-center bg-black bg-opacity-50 text-xl underline"
    >
      {{ imageTexts[i] }}
    </div>
  </div>
</div>
<h2
  class="text-3xl md:text-2xl font-semibold text-center mt-12 md:mt-16 animate-wavy"
>
  Essential Skills
</h2>
<div
  class="flex flex-wrap justify-center gap-6 md:gap-8 lg:gap-10 mt-10 mb-20 md:mt-16 px-4"
>
  <img
    *ngFor="let logo of logos"
    [src]="logo"
    alt="Logo"
    class="w-16 h-16 md:w-20 md:h-20 lg:w-24 lg:h-24 rounded-full object-cover transition-transform duration-500 hover:scale-110 hover:animate-pulse"
  />
</div>
